In [1]:
#Ans1.)

import pandas as pd

# Create a Pandas Series
series_q1 = pd.Series([4, 8, 15, 16, 23, 42])

# Print the series
print(series_q1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Ans2.) 

import pandas as pd

# Create a list with 10 elements
list_q2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
series_q2 = pd.Series(list_q2)

# Print the series
print(series_q2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
#Ans3.) 

import pandas as pd

# Create a dictionary with the given data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create a Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#Ans4.)

DataFrame: A DataFrame is a two-dimensional labeled data structure in Pandas that consists of rows and columns. It is similar to a table in a relational database or a spreadsheet. Each column in a DataFrame can have a different data type.

Series: A Series is a one-dimensional labeled array in Pandas. It is similar to a single column in a DataFrame. Series can hold data of any data type, including integers, floats, strings, and so on.

In [4]:
import pandas as pd

# Create a Series
series_data = pd.Series([10, 20, 30, 40, 50])

# Create a DataFrame
df_data = pd.DataFrame({'Numbers': [10, 20, 30, 40, 50]})

print("Series:")
print(series_data)

print("\nDataFrame:")
print(df_data)

Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

DataFrame:
   Numbers
0       10
1       20
2       30
3       40
4       50

#Ans5.)

Common functions for DataFrame manipulation: Some common functions include head(), tail(), info(), describe(), drop(), fillna(), groupby(), merge(), pivot_table(), sort_values(), apply(), etc

In [5]:
# Example of using the head() function to display the first few rows of a DataFrame
print(df.head())

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#Ans6.)

Series: Series is mutable in nature, meaning you can modify its values after creation.

DataFrame: DataFrame is also mutable, allowing modifications to its data, columns, and index.

Panel: Panel is deprecated in the latest versions of Pandas. It used to be a mutable data structure but has been replaced by more efficient alternatives.

In [6]:
#Ans7.)

import pandas as pd

# Create Series for each column
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Create DataFrame using multiple Series
df_multiple_series = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# Print the DataFrame
print(df_multiple_series)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female